
.menu{
 background-color: aqua;   
}

nav{
    width: 100%;
    height: 30px;
}

ul{
    list-style: none;
    font-size: 0;
    height: 100%;
}

li{
    display: inline-block;
    width: 25%;
    height: 100%;
    position: relative;
    font-size: 14px;
}

ul ul{
   position: absolute;
    display: none;
    background-color: black;
    width: 100%; 
}
 
ul ul li{
    display: block;
}

ul li: hover ul{
    display: block;
}

=======
body{
<<<<<<< HEAD
    background-image: url('imagenes/flaciar.jpg');
}

=======
    background-image: url('imagenes/Parqueperitomorenooo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
>>>>>>> b38f36a2b84f3a45975e9424394630668c39a8e2
